body {
  background-image: url('http://i.imgur.com/M4EwW1F.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}

.intro {
  color: white;
  text-align: center;
}

#overlay {
  background-color: #000000;
  opacity: 1;
  left: 0;
  top: 0;
  position: absolute;
  height: 100%;
  width: 100%;
}

button {
  width: 100px;
  height: 50px;
  margin: auto;
  background-color: #6e748d;
}

.game {
  visibility: hidden;
}

#player {
  width: 75px;
  height: 100px;
  position: fixed;
  left: 0;
  top: 0;
}

.cone {
  width: 40px;
  position: fixed;
}

.cone-1 {
  left: 250px;
  top: 100px;
}

.cone-2 {
  left: 50px;
  top: 350px;
}

.cone-3 {
  left: 550px;
  top: 25px;
}

.cone-4 {
  left: 800px;
  top: 325px;
}

.cone-5 {
  left: 975px;
  top: 210px;
}

.cone-6 {
  left: 343px;
  top: 530px;
}

.cone-7 {
  left: 590px;
  top: 370px;
}

.cone-8 {
  left: 423px;
  top: 248px;
}

.cone-9 {
  left: 1240px;
  top: 112px;
}

.cone-10 {
  left: 723px;
  top: 620px;
}

.cone-11 {
  left: 720px;
  top: 172px;
}

.cone-12 {
  left: 1358px;
  top: 487px;
}

.cone-13 {
  left: 1113px;
  top: 355px;
}

.cone-14 {
  left: 175px;
  top: 640px;
}

.cone-15 {
  left: 1150px;
  top: 600px;
}
